<div class="row">
  <div class="large-12 columns">
    <div class="panel">
    
    <div class="row">
      <div class="large-12 columns">
        <h2>איתור והוספת לקוח</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p>&nbsp;</p>
      </div>
    </div>
    
    <div class="row hide" id="no_result">
      <div class="large-12 columns">
        <div class="panel radius warning">
          <p>לא נמצאו לקוחות העונים לפרטים שהוזנו</p>
        </div>
      </div>
    </div>

    <%= form_for @customer do |f| %>
      <div class="row">
        <div class="medium-4 columns">
          <label for="">שם פרטי
            <%= f.text_field(:fname) %>
          </label>
        </div>
        
        <div class="medium-4 columns">
          <label for="">שם משפחה
            <%= f.text_field(:lname) %>
          </label>
        </div>
        
        <div class="medium-2 columns">
          <label for="">ת.ז.
            <%= f.text_field(:tz) %>
          </label>
        </div>
        
        <div class="medium-2 columns">
          <label for="">מגדר
            <%= select(:customer, :gender, [['זכר', 'זכר'], ['נקבה', 'נקבה']], {include_blank: true}) %>
          </label>
        </div>

        <div class="medium-0 columns">
        </div>
      </div>
      
      <div class="row">
        <div class="medium-4 columns">
          <label for="">ישוב
            <%= collection_select(:customer, :city_id, City.all.order('name'), :id, :name, {include_blank: true}) %>
          </label>
        </div>
        <div class="medium-4 columns">
          <label for="">כתובת
            <%= f.text_field(:address) %>
          </label>
        </div>
        <div class="medium-2 columns">
          <label for="">מיקוד
            <%= f.text_field(:zipcode) %>
          </label>
        </div>

        <div class="medium-2 columns">
        </div>
      </div>

      <div class="row">
        <div class="medium-4 columns">
          <label for="">טלפון
            <%= f.telephone_field(:phone) %>
          </label>
        </div>
        
        <div class="medium-6 columns">
          <label for="">דוא"ל
            <%= f.email_field(:email) %>
          </label>
        </div>

        <div class="medium-2 columns">
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">&nbsp;</div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="left">
            <%= submit_tag "איתור לקוח קיים", :id=>"btn_search", :class=>"button small radius" %>
            <%#= link_to "איתור לקוח קיים", customer_search_path(:customer => @customer.attributes), method: :get, :class=>"button small radius" %>
            <%= submit_tag "הוספת לקוח חדש", :id=>"btn_create", :class=>"button small radius" %>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>

<%=render 'results' %>