<div class="row">
  <div class="large-12 columns">
    <div class="panel">
    
    <div class="row">
      <div class="large-12 columns">
        <h2>איתור והוספת לקוח</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p>&nbsp;</p>
      </div>
    </div>
		
		<% if flash[:warning] %>
		<div class="row">
      <div class="large-12 columns">
        <div class="panel radius warning">
        	<p>לא נמצאו לקוחות העונים לפרטים שהוזנו</p>
        </div>
      </div>
    </div>
    <% end %>

    <%= form_for @customer, url: {action: "create"} do |f| %>
      <div class="row">
        <div class="medium-4 columns">
          <label for="">שם פרטי
            <%= f.text_field(:fname) %>
          </label>
        </div>
        
        <div class="medium-4 columns">
          <label for="">שם משפחה
            <%= f.text_field(:lname) %>
          </label>
        </div>
        
        <div class="medium-2 columns">
          <label for="">ת.ז.
            <%= f.text_field(:tz) %>
          </label>
        </div>
        
        <div class="medium-2 columns">
          <label for="">מגדר
            <%= select(:customer, :gender, [['זכר', 'זכר'], ['נקבה', 'נקבה']], {include_blank: true}) %>
          </label>
        </div>

        <div class="medium-0 columns">
        </div>
      </div>
      
      <div class="row">
        <div class="medium-4 columns">
          <label for="">ישוב
            <%= collection_select(:customer, :city_id, City.all.order('name'), :id, :name, {include_blank: true}) %>
          </label>
        </div>
        <div class="medium-4 columns">
          <label for="">כתובת
            <%= f.text_field(:address) %>
          </label>
        </div>
        <div class="medium-2 columns">
          <label for="">מיקוד
            <%= f.text_field(:zipcode) %>
          </label>
        </div>

        <div class="medium-2 columns">
        </div>
      </div>

      <div class="row">
        <div class="medium-4 columns">
          <label for="">טלפון
            <%= f.telephone_field(:phone) %>
          </label>
        </div>
        
        <div class="medium-6 columns">
          <label for="">דוא"ל
            <%= f.email_field(:email) %>
          </label>
        </div>

        <div class="medium-2 columns">
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">&nbsp;</div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="left">
            <%= submit_tag "איתור לקוח קיים", name: 'search', :id=>"btn_search", :class=>"button small radius" %>
            <%= submit_tag "הוספת לקוח חדש", :id=>"btn_new", :class=>"button small radius" %>
          </div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>

<div id="cSelectModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">בחירת לקוח</h2>
  <p class="lead">נמצאו מספר לקוחות עם הפרטים שהזנת</p>
  <div>
    <table id="cResultList">
      <tr>
        <th>תז</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>מגדר</th>
        <th>ישוב</th>
        <th>כתובת</th>
        <th>טלפון</th>
        <th>דוא"ל</th>
      </tr>
      <tr>
        <td>111111111</td>
        <td>אלון</td>
        <td>פנחס</td>
        <td>ז</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>222222222</td>
        <td>אלון</td>
        <td>צוקר</td>
        <td>ז</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>333333333</td>
        <td>אלון</td>
        <td>שיטרית</td>
        <td>ז</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <p></p>
  <div class="left">
    <a href="customer.html" class="button small radius">פתיחת כרטיס לקוח</a>
  </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript">
  // $("#findBtn").click(function(){
  //   $('#cSelectModal').foundation('reveal', 'open');
  // });
  // $("#cResultList tr:not(:first-child)").click(function(){
  //   $("#cResultList tr").removeClass("selected");
  //   $(this).addClass("selected");
  // });

  
</script>
